$colorDarkGray: #e3e3e3;
$colorWhite: #ededed;
$colorMain: #ee7a09;
$colorMainDark: #3f2002;
$colorComplementary: #044d63;
$colorBlackTransparent: rgba(0, 0, 0, 0.7);

.lightContainer {
  height: 2500px;
  border: 1px solid green;
}
