$colorDarkGray: #e3e3e3;
$colorWhite: #ededed;
$colorMain: #ee7a09;
$colorMainDark: #3f2002;
$colorComplementary: #044d63;
$colorBlackTransparent: rgba(0, 0, 0, 0.7);

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3rem;
  width: 100%;
  text-align: center;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;

  &.isFixed {
    position: fixed;
    padding-top: 0rem;
  }
}

.navigation {
  position: absolute;
  left: 4rem;
  font-size: 2rem;
}

.logoLink {
  padding: 1rem 0;
}

.logoContainer {
  width: 300px;
  position: relative;
}

.logoLeft {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  margin: 0 auto;
  padding-right: 0.2rem;
  background: rgba(255, 255, 255, 0);
  opacity: 0;
  transition: all 0.25s;

  &.isVisible {
    opacity: 1;
  }
}

.logoRight {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0);
}

.logoSpacer {
  height: 36px;
}
