$maxWidth: 42em;
$maxWidthText: 26em;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  max-width: $maxWidthText;
  margin-left: auto;
  margin-right: auto;
}
